* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

header {
    position: fixed;
    margin: 20px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10;
}

header.sticky {
    padding: 12px 20px;
    margin: 0;
    background: #fff;
}

header.sticky ul li a {
    color: black;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header ul li :hover {
    padding: 10px;
    border-radius: 10px;
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
}


body {
    background: #0a2a43 ;
    min-height: 1500px;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10000;
}


.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    color: white;
    font-size: 8em;
    z-index: 1;
}

#road {
    z-index: 2;
}

h1 {
    margin-bottom: 50px;
}

h1:hover {
    color: #03e9f4;
}

.container2 {
    color: white;
    text-align: center;
    padding: 150px;
}

.container3 {
    background-color: white;
    text-align: center;
    padding: 100px;
}

b:hover {
    color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
    box-shadow: 0 0 200px #03e9f4;
}

.container4 {
    color: white;
    text-align: center;
    padding: 150px;
}

.flex {
    display: flex;
    justify-content: space-around;
}


.box {
    color: black;
    font-size: 14px;
    border: 1px solid white;
    margin: 25px;
    padding: 10px 30px 100px 30px ;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    background-size: cover;
    background-image: url(Picture/work.gif);
}

.box:hover {
    border-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
}


.container5 {
    padding: 150px;
    text-align: center;
    background-color: white;
}

.container6 {
    padding: 150px;
    text-align: center;
    color: white;
}

.container6 p {
    margin-bottom: 50px;
}

.contact1 input {
    margin: 12px 0px 22px 0px;
    height: 35px;
    border-radius: 10px;
}

.contact1 textarea {
    width: 255px;
    height: 120px;
    margin: 12px 0px 0px 0px;
    border-radius: 10px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}


.button {
    background-color: teal;
    color: white;
    margin-top: 70px;
    padding: 10px 60px;
    border-radius: 10px;
}

.button:hover {
    background: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
    box-shadow: 0 0 200px #03e9f4;
}

.footer {
    background-color: white;
    text-align: center;
    padding: 20px;
}

i {
    color: black;
    margin: 70px 30px;
}

i:hover {
    color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4;
    box-shadow: 0 0 25px #03e9f4;
    box-shadow: 0 0 50px #03e9f4;
    box-shadow: 0 0 200px #03e9f4;
}

@media screen and (max-width:680px) {

    header {
        display: none;
    }

    .container2, .container3, .container4 ,.container5, .container6 {
        padding: 50px;
    }

    .container4 .flex {
        display: grid;
    }

    .container5 .flex img {
       width: 300px;
       height: 200px;
    }

    i {
        margin: 40px 35px 20px 0;
    }
}